{% extends "layout.html" %}
{% from "card/template.html" import Card -%}

{% block article_body %}


<p>{{ intro | md }}</p>
<div id="legend-container" class="o-grid-container">
	<div id="vacancy-legend" data-o-grid-colspan=".5"></div>
	<div id="vacancy-legend-text" class="legend-text" data-o-grid-colspan="5">
		<div>Potential successors lining up</div>
	</div>
	<div id="filled-legend" data-o-grid-colspan=".5"></div>
	<div id="filled-legend-text" class="legend-text" data-o-grid-colspan="5">
		<div>Seat not likely vacated soon</div>
	</div>
</div>
<div id="fed-heds" class="o-grid-container">
	<div class="o-grid-row fed-heds-row">
		<div data-o-grid-colspan="S12 M6 L6 center">
			<div class="demo-cell" id="chair">
				<div class="fed-image-vacant"> <img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Ffed-board-successors%2Fimages%2Fjanet-yellen.png?source=ig&width=300&height=300" class="fed-image-img"> </div>
				<h2 class="top-div-position">Chair</h2>
				<h2 class="top-div-name">Janet Yellen</h2>
				<p class="top-card-text"> Term as chair expires 2018 </p>
			</div>
		</div>
	</div>
	<div class="o-grid-row fed-heds-row">
		<div data-o-grid-colspan="3.8" class="demo-cell" id="vice-chair">
			<div class="fed-image-vacant"> <img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Ffed-board-successors%2Fimages%2Fstanley-fischer.png?source=ig&width=300&height=300" class="fed-image-img"> </div>
			<h2 class="top-div-position">Vice chair</h2>
			<h2 class="top-div-name">Stanley Fischer</h2>
			<p class="top-card-text"> Stepping down October 13 </p>
		</div>
		<div data-o-grid-colspan="3.8" class="demo-cell" id="governor3">
			<div class="fed-image-vacant"> <img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Ffed-board-successors%2Fimages%2Fvacant-seat.png?source=ig&width=300&height=300" class="fed-image-img"> </div>
			<h2 class="top-div-position">Governor</h2>
			<h2 class="top-div-name">VACANT</h2>
		</div>
		<div data-o-grid-colspan="3.8" class="demo-cell" id="governor5">
			<div class="fed-image-vacant"> <img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Ffed-board-successors%2Fimages%2Fvacant-seat.png?source=ig&width=300&height=300" class="fed-image-img"> </div>
			<h2 class="top-div-position">Governor</h2>
			<h2 class="top-div-name">VACANT</h2>
			<p class="top-card-text"> Community banker </p>
		</div>
	</div>
	<div class="o-grid-row fed-heds-row">
		<div data-o-grid-colspan="3.8" class="demo-cell" id="governor4">
			<div class="fed-image-filled"> <img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Ffed-board-successors%2Fimages%2Frandal-quarles.png?source=ig&width=300&height=300" class="fed-image-img"> </div>
			<h2 class="top-div-position">Nominee</h2>
			<h2 class="top-div-name">Randal Quarles</h2>
			<p class="top-card-text"> Vice chair for supervision </p>
		</div>
		<div data-o-grid-colspan="3.8" class="demo-cell" id="governor1">
			<div class="fed-image-filled"> <img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Ffed-board-successors%2Fimages%2Fjerome-powell.png?source=ig&width=300&height=300" class="fed-image-img"> </div>
			<h2 class="top-div-position">Governor</h2>
			<h2 class="top-div-name">Jerome Powell</h2>
			<p class="top-card-text"> Term as governor expires 2028 </p>
		</div>
		<div data-o-grid-colspan="3.8" class="demo-cell" id="governor2">
			<div class="fed-image-filled"> <img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Ffed-board-successors%2Fimages%2Flael-brainard.png?source=ig&width=300&height=300" class="fed-image-img"> </div>
			<h2 class="top-div-position">Governor</h2>
			<h2 class="top-div-name">Lael Brainard</h2>
			<p class="top-card-text"> Term as governor expires 2026 </p>
		</div>
	</div>
	<figcaption class="o-typography-caption">© Bloomberg, Reuters</figcaption>
</div>

<div class="o-grid-container" id="card-div-container">

	{# repeating card section starts #}
	{% for card in cards %}
	  {% set loopcounter = loop %}
	  <h1 class="card-position__position" id="card-{{ card.industryName }}">{{ card.industryDisplayName }}</h1>
	  <p class="explanatory-text">{{ card.explanatoryText | md }}</p>
	  {% for item in card.items %}
	  {% set index = loopcounter.index + '' + loop.index %}
	  {{ Card(item, index) }}
	  {% endfor %}
	   <div style="width: 100%; text-align: center;">
          <button class="o-expander__toggle o--if-js buttons-dood">Return to top</button>
       </div>
	{% endfor %}
	{# repeating card section ends #}

	{% endblock %}

</div>