{% extends "layout.html" %}
{% from "card/template.html" import Card -%}

{% block article_body %}

<p>{{ intro | md }}</p>
<div id="legend-container" class="o-grid-container">
	<div id="vacancy-legend" data-o-grid-colspan="1"></div>
	<div id="vacancy-legend-text" class="legend-text" data-o-grid-colspan="5">
		<p>Rumoured successors</p>
	</div>
	<div id="filled-legend" data-o-grid-colspan="1"></div>
	<div id="filled-legend-text" class="legend-text" data-o-grid-colspan="5">
		<p>Seat not likely to vacate soon</p>
	</div>
</div>
<div id="fed-heds" class="o-grid-container">
	<div class="o-grid-row fed-heds-row">
		<div data-o-grid-colspan="6 center">
			<div class="demo-cell" id="chair">
				<div class="fed-image"> <img src="images/janet-yellen.png" class="fed-image-img"> </div>
				<h2 class="top-div-position">Chair</h2>
				<h2 class="top-div-name">Janet Yellen</h2>
			</div>
		</div>
	</div>
	<div class="o-grid-row fed-heds-row">
		<div data-o-grid-colspan="4">
			<div class="demo-cell" id="governor3">
				<div class="fed-image"> <img src="images/vacant.png" class="fed-image-img"> </div>
				<h2 class="top-div-position">Governor</h2>
				<h2 class="top-div-name">VACANT</h2>
			</div>
		</div>
		<div data-o-grid-colspan="4">
			<div class="demo-cell" id="governor4">
				<div class="fed-image"> <img src="images/vacant.png" class="fed-image-img"> </div>
				<h2 class="top-div-position">Governor</h2>
				<h2 class="top-div-name">VACANT</h2>
			</div>
		</div>
		<div data-o-grid-colspan="4">
			<div class="demo-cell" id="governor5">
				<div class="fed-image"> <img src="images/vacant.png" class="fed-image-img"> </div>
				<h2 class="top-div-position">Governor</h2>
				<h2 class="top-div-name">VACANT</h2>
			</div>
		</div>
	</div>
	<div class="o-grid-row fed-heds-row">
		<div data-o-grid-colspan="4">
			<div class="demo-cell" id="vice-chair">
				<div class="fed-image"> <img src="images/stanley-fischer.png" class="fed-image-img"> </div>
				<h2 class="top-div-position">Vice Chair</h2>
				<h2 class="top-div-name">Stanley Fischer</h2>
			</div>
		</div>
		<div data-o-grid-colspan="4">
			<div class="demo-cell" id="governor1">
				<div class="fed-image"> <img src="images/jerome-powell.png" class="fed-image-img"> </div>
				<h2 class="top-div-position">Governor</h2>
				<h2 class="top-div-name">Jerome Powell</h2>
			</div>
		</div>
		<div data-o-grid-colspan="4">
			<div class="demo-cell" id="governor2">
				<div class="fed-image"> <img src="images/lael-brainard.png" class="fed-image-img"> </div>
				<h2 class="top-div-position">Governor</h2>
				<h2 class="top-div-name">Lael Brainard</h2>
			</div>
		</div>
	</div>
</div>

<div class="o-grid-container" id="card-div-container">

	{# repeating card section starts #}
	{% for card in cards %}
	  {% set loopcounter = loop %}
	  <h1 class="card-position__position" id="card-{{ card.industryName }}">{{ card.industryDisplayName }}</h1>
	  <p class="explanatory-text">{{ card.explanatoryText }}</p>
	  {% for item in card.items %}
	  {% set index = loopcounter.index + '' + loop.index %}
	  {{ Card(item, index) }}
	  {% endfor %}
	   <div style="width: 100%; text-align: center;">
          <button class="o-expander__toggle o--if-js buttons-dood">Return to top</button>
       </div>
	{% endfor %}
	{# repeating card section ends #}

	{% endblock %}

</div>