@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';
@import 'card/card';


@function getColor($args...) {
  @return oColorsGetPaletteColor($args...);
}
#fed-heds {
  margin-bottom: 70px;
}
.fed-heds-row {
	 align-items: stretch;
}
.demo-cell {
	box-sizing: border-box;
  width: 100%;
  padding: $o-card-spacing-unit $o-card-spacing-unit 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  overflow: auto; // clear floats
  margin: 1em .2em;
  background: #FDF8F2;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}
.top-div-name {
    font-family: 'MetricWeb', sans-serif !important;
    font-weight: 600!important;
    color:rgba(0, 0, 0, .5)!important;
    text-transform: uppercase;
    font-size: 1em !important;
    letter-spacing: 0.06em!important;
    margin: .1em !important;
    line-height: 1em !important;
}
.top-div-position {

    font-family: 'Georgia', serif !important;
    font-weight: 400 !important;
    color:rgb(0, 0, 0)!important;
    font-size: .8em !important;
    line-height: 1.1em !important;
    letter-spacing: 0;
    margin-top: .1em !important;
    margin-bottom: .1em !important;

    @include oGridRespondTo(S) {
    font-size: 1.1em !important;
    letter-spacing: .01em;
    }
}
.fed-image-filled {
  img {
    display: inline-block;
    margin-right: 8px;
    border: 4px solid #999999;
    border-radius: 50%;
    vertical-align: middle;
    height: 80px;
  }
}
.fed-image-vacant {
  img {
    display: inline-block;
    margin-right: 8px;
    border: 4px solid #26747a;
    border-radius: 50%;
    vertical-align: middle;
    height: 80px;
  }
}
#vacancy-legend {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #26747a;
  margin-top: 8px;
}
#filled-legend {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #999999;
  margin-top: 8px;
}
div.legend-text {
  margin-top: 8px;
  padding-left: 10px;
}
p.top-card-text {
  font-size: 1em !important;
  line-height:1.4em !important;
}